@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&display=swap");
.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}
.header__content {
  height: 4.38rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0.19rem 0.38rem rgba(0, 0, 0, 0.29);
  padding: 0 1.25rem;
}
.header__content__menu {
  width: 1.25rem;
  height: 0.81rem;
}
.header__content__logo {
  margin-left: 2rem;
  display: flex;
  height: 2.25rem;
}
.header__content__actions {
  flex: 1 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.5rem;
}
.header__content__actions img {
  height: 1.5rem;
  width: 1.5rem;
}
.header__logo {
  margin-left: 0.84rem;
}
.header__logo img {
  width: 3.78rem;
  height: 1.3rem;
  margin-top: 0.51rem;
}
.header__logo__icon-box {
  height: 2.25rem;
  box-shadow: 0 0.88rem 1.5rem rgba(139, 139, 139, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0.77rem;
}
.header__logo__icon-box img {
  width: 0.68;
  height: 0.77rem;
  margin-top: 0;
}
.header__navlist {
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.09rem;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.29);
  padding: 0 1.31rem;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.8s ease-in-out;
}
.header__navlist--open {
  max-height: 85vh;
  padding-top: 0.5rem;
  padding-bottom: 1.64rem;
}
.header__navlist ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header__navlist__item {
  margin: 0;
  padding: 0;
  margin-top: 1.5rem;
}
.header__navlist__item a {
  text-decoration: none;
  color: black;
}

.footer {
  margin-top: 3.75rem;
  background: url("./assets/background.png");
  padding: 0 1.38rem;
}
.footer__logo {
  margin-top: 2rem;
}
.footer__logo__box {
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BEAD8E;
}

@font-face {
  font-family: "archivo-offline_italic";
  src: url("./fonts/archivo-italic-variablefont_wdthwght-webfont.woff2") format("woff2"), url("./fonts/archivo-italic-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "archivo-offline";
  src: url("./fonts/archivo-variablefont_wdthwght-webfont.woff2") format("woff2"), url("./fonts/archivo-variablefont_wdthwght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "offline-old_standard_ttitalic";
  src: url("./fonts/oldstandardtt-italic-webfont.woff2") format("woff2"), url("./fonts/oldstandardtt-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "offline-old_standard_ttbold";
  src: url("./fonts/oldstandardtt-bold-webfont.woff2") format("woff2"), url("./fonts/oldstandardtt-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "offline-old_standard_ttregular";
  src: url("./fonts/oldstandardtt-regular-webfont.woff2") format("woff2"), url("./fonts/oldstandardtt-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 0;
}

body {
  min-width: 20rem;
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
}

/*# sourceMappingURL=style.css.map */
