@use '../const/variables.scss' as *;

.header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $white;
    z-index: 20;

    &__content {
        height: 4.38rem;
        display: flex;
        align-items: center;
        box-shadow: 0 0.19rem 0.38rem rgb(0, 0, 0, .29);
        padding: 0 1.25rem;

        &__menu {
            width: 1.25rem;
            height: 0.81rem;

        }

        &__logo {
            margin-left: 2rem;
            display: flex;
            height: 2.25rem;
        }

        &__actions {
            flex: 1 0 auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1.5rem;

            & img {
                height: 1.5rem;
                width: 1.5rem;
            }
        }
    }

    &__logo {
        margin-left: 0.84rem;

        & img {
            width: 3.78rem;
            height: 1.3rem;
            margin-top: 0.51rem;
        }

        &__icon-box {
            height: 2.25rem;
            box-shadow: 0 0.88rem 1.5rem rgb(139, 139, 139, .25);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.77rem;

            & img {
                width: 0.68;
                height: 0.77rem;
                margin-top: 0;
            }
        }
    }

    &__navlist {
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.09rem;
        box-shadow: 0 0.25rem 0.25rem rgb(0, 0, 0, .29);
        padding: 0 1.31rem;
        max-height: 0;
        overflow-y: hidden;

        transition: all 0.8s ease-in-out;


        &--open {
            max-height: 85vh;
            padding-top: 0.5rem;
            padding-bottom: 1.64rem;
        }

        & ul {
            margin: 0; padding: 0;
            list-style-type: none;
        }

        &__item {
            margin: 0;
            padding: 0;
            margin-top: 1.5rem;

            & a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

.information-header {
    background-color: $blacktwo;
    padding: 0 1.25rem;
    color: $white;
    position: relative;
    padding-bottom: 6rem;

    &__subtitle {
        padding-top: 4.69rem;
        text-transform: uppercase;
        font-size: 0.81rem;
        line-height: 1.13rem;
        font-weight: 700;
        letter-spacing: 0.17rem;
        max-width: 30ch;
    }

    &__title {
        margin-top: 1rem;
        font-family: $oldtt;
        font-weight: 400;
        font-size: 3.5rem;
        line-height: 3.75rem;
        letter-spacing: -0.07rem;
    }

    &__navigation {
        position: absolute;
        bottom: 0;
        right: 1.25rem;
        background-color: $white;
        padding: 1rem 1.5rem;
        color: $trueblack;

        font-weight: 700;
        font-size: 1rem;
        letter-spacing: 1.09rem;
        letter-spacing: -0.03rem;

        & a {
            text-decoration: none;
            color: $trueblack;
        }

        & span {
            color: $brown;
        }

    }
}

#separator {
    color: $trueblack;
    margin: 0 0.5rem;
}