.button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 3.75rem;
  background-color: #BEAD8E;
  border: 0.06rem solid #BEAD8E;
  padding: 1.44rem 0;
  width: 100%;
  font-family: "Archivo", "archivo-offline", "Roboto", sans-serif, arial;
  font-weight: 700;
  font-size: 0.88rem;
  line-height: 0.95rem;
  letter-spacing: 0.17rem;
  color: #fff;
  text-transform: uppercase;
}
.button--alternative {
  background-color: #333333;
  border: 2px solid rgba(255, 255, 255, 0.33);
}

.facilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.75rem;
  width: 100%;
}
.facilities__title {
  font-weight: 700;
  font-size: 0.88rem;
  line-height: 0.95rem;
  letter-spacing: 0.17rem;
  color: #777777;
  text-transform: uppercase;
}
.facilities__caption {
  margin-top: 1.5rem;
  font-family: "Old Standard TT", "offline-old_standard_ttregular", "Roboto", sans-serif, arial;
  font-weight: 400;
  font-size: 3.5rem;
  line-height: 3.75rem;
  letter-spacing: 0 0.7rem;
  text-align: center;
  color: #222222;
}
.facilities__swiper {
  margin-top: 2rem;
  height: 23.13rem;
  width: 100%;
  position: relative;
}
.facilities__container {
  position: relative;
  padding: 0 2.23rem;
}
.facilities__position {
  position: absolute;
  top: 0;
  right: 2rem;
  font-weight: 700;
  font-size: 7.5rem;
  line-height: 8.13rem;
  color: rgba(34, 34, 34, 0.04);
}
.facilities__image {
  margin-top: 5.06rem;
}
.facilities__image img {
  width: 4.38rem;
  height: 4.38rem;
}
.facilities__text {
  margin-top: 2.37rem;
  font-family: "Old Standard TT", "offline-old_standard_ttregular", "Roboto", sans-serif, arial;
  font-weight: 400;
  font-size: 1.88rem;
  line-height: 1.88rem;
  letter-spacing: -0.06rem;
  color: #222222;
}
.facilities__description {
  margin-top: 1.75rem;
  color: darkgray;
  font-size: 0.88rem;
  line-height: 1.5rem;
}
.facilities__pagination {
  position: relative;
  z-index: 10;
  height: 0.44rem;
  width: 100%;
  display: flex;
  gap: 0.44rem;
  justify-content: center;
}
.facilities__bullet {
  background-color: #EDEDED;
  width: 0.44rem;
  height: 0.44rem;
  border-radius: 3rem;
  transition: background-color 0.6s ease-in-out;
  pointer-events: all !important;
}
.facilities__bullet--active {
  background-color: #BEAD8E;
}

.about__video {
  margin-top: 3.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about__video__description {
  max-width: 88%;
  margin-top: 2.25rem;
  font-family: "Old Standard TT", "offline-old_standard_ttregular", "Roboto", sans-serif, arial;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.47rem;
  letter-spacing: -0.07rem;
  text-align: center;
}
.about__options {
  margin-top: 3.19rem;
  width: 100%;
  padding: 0 1.25rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1.25rem;
}
.about__options__item {
  min-height: 9.88rem;
  transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
  color: #222222;
}
.about__options__item:hover {
  background-color: #BEAD8E;
  color: #fff;
}
.about__options__image {
  margin-top: 2.72rem;
  display: flex;
  justify-content: center;
}
.about__options__image img {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: contain;
}
.about__options__title {
  margin-top: 0.76rem;
  font-weight: 700;
  font-size: 0.75rem;
  line-height: 0.88rem;
  text-align: center;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

/*# sourceMappingURL=about.css.map */
