$archivo: 'Archivo', 'archivo-offline', 'Roboto', sans-serif, arial;
$oldtt: 'Old Standard TT','offline-old_standard_ttregular', 'Roboto', sans-serif, arial;
$roboto: 'Roboto', 'offline-roboto', 'Archivo', sans-serif, arial;
$brown: #BEAD8E;
$gray: #F8F8F8;
$darkgray: #777777;
$black: #222222;
